<!DOCTYPE html>
<html dir="ltr" lang="pl">
	<head>
		<meta charset="UTF-8" />
		<title>Erectio | <%= title %></title>
		<meta name="description" content="<%= desc %>" />
		<meta name="keywords" content="<%= keywords %>" />
		<meta name="robots" content="/robots.txt" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="DigiDraft" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="canonical" href="<%= url %>" />
		<meta name="theme-color" content="#040413" />
		<meta property="og:url" content="<%= url %>" />
		<meta property="og:title" content="Erectio | <%= title %>" />
		<meta property="og:description" content="<%= desc %>" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/dist/img/og_image_erectio.webp" />
		<meta property="og:site_name" content="Erectio" />
		<meta property="og:locale" content="pl_PL" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:alt" content="Logotyp Erectio, na jasnym tle." />
		<meta name="msapplication-TileColor" content="#f9f9f9" />
		<meta
			name="msapplication-TileImage"
			content="/dist/icons/mstile-144x144.png"
		/>
		<meta name="msapplication-config" content="/browserconfig.xml" />
		<meta name="application-name" content="Erectio" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="erectio.pl" />
		<meta property="twitter:url" content="<%= url %>" />
		<meta name="twitter:title" content="<%= title %> | Erectio" />
		<meta name="twitter:description" content="<%= desc %>" />
		<meta name="twitter:image" content="/dist/img/og_image_erectio.webp" />
		<meta name="apple-mobile-web-app-title" content="Erectio" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="google" content="notranslate" />
		<link rel="manifest" href="/manifest.webmanifest" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/dist/icons/favicon-16x16.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/dist/icons/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="48x48"
			href="/dist/icons/favicon-48x48.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="57x57"
			href="/dist/icons/apple-touch-icon-57x57.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="60x60"
			href="/dist/icons/apple-touch-icon-60x60.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="72x72"
			href="/dist/icons/apple-touch-icon-72x72.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="76x76"
			href="/dist/icons/apple-touch-icon-76x76.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="114x114"
			href="/dist/icons/apple-touch-icon-114x114.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="120x120"
			href="/dist/icons/apple-touch-icon-120x120.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="144x144"
			href="/dist/icons/apple-touch-icon-144x144.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="152x152"
			href="/dist/icons/apple-touch-icon-152x152.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="167x167"
			href="/dist/icons/apple-touch-icon-167x167.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/dist/icons/apple-touch-icon-180x180.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="1024x1024"
			href="/dist/icons/apple-touch-icon-1024x1024.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
			href="/dist/icons/apple-touch-startup-image-640x1136.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
			href="/dist/icons/apple-touch-startup-image-1136x640.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
			href="/dist/icons/apple-touch-startup-image-750x1334.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
			href="/dist/icons/apple-touch-startup-image-1334x750.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
			href="/dist/icons/apple-touch-startup-image-1125x2436.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
			href="/dist/icons/apple-touch-startup-image-2436x1125.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
			href="/dist/icons/apple-touch-startup-image-1170x2532.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
			href="/dist/icons/apple-touch-startup-image-2532x1170.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
			href="/dist/icons/apple-touch-startup-image-828x1792.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
			href="/dist/icons/apple-touch-startup-image-1792x828.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
			href="/dist/icons/apple-touch-startup-image-1242x2688.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
			href="/dist/icons/apple-touch-startup-image-2688x1242.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
			href="/dist/icons/apple-touch-startup-image-1242x2208.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
			href="/dist/icons/apple-touch-startup-image-2208x1242.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
			href="/dist/icons/apple-touch-startup-image-1284x2778.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
			href="/dist/icons/apple-touch-startup-image-2778x1284.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
			href="/dist/icons/apple-touch-startup-image-1536x2048.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
			href="/dist/icons/apple-touch-startup-image-2048x1536.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
			href="/dist/icons/apple-touch-startup-image-1620x2160.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
			href="/dist/icons/apple-touch-startup-image-2160x1620.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
			href="/dist/icons/apple-touch-startup-image-1668x2388.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
			href="/dist/icons/apple-touch-startup-image-2388x1668.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
			href="/dist/icons/apple-touch-startup-image-1668x2224.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
			href="/dist/icons/apple-touch-startup-image-2224x1668.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
			href="/dist/icons/apple-touch-startup-image-2048x2732.png"
		/>
		<link
			rel="apple-touch-startup-image"
			media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
			href="/dist/icons/apple-touch-startup-image-2732x2048.png"
		/>
		<link rel="yandex-tableau-widget" href="/yandex-browser-manifest.json" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<header class="header" id="header">
			<!-- @include '../pages/components/nav.kit' -->
		</header>
		<main>
			<!-- @include '../pages/index/hero.kit' -->
		</main>
		<script type="module" src="<%= jsUrl %>"></script>
	</body>
</html>
