@use '../base/design' as *; // <-- dostęp do kolorów

/* --- elementarny reset --- */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
	margin: 0;
} // tylko margines, bez list-style

ul,
ol {
	list-style: none;
}

:focus-visible {
	outline: 0.2rem solid $color-primary;
	outline-offset: 0.2rem;
}

button {
	padding: 0;
	border: none;
	background: none;
	font: inherit;
}

textarea {
	resize: vertical;
}
textarea,
input,
select {
	font: inherit;
}

::selection {
	color: $color-white;
	background: $color-primary;
}
